* {
    margin: 0px 5px;
    padding: 0px;
    box-sizing: border-box;
  }
  body {
    font-family: serif;
  }
  #size {
    position: absolute;
    top: 60%;
    left: 50%;
    font-size: 35px;
    color: red;
  }
  .container {
    height: 100vh;
    width: 100vw;
  }
  
  .header {
    height: 10%;
    align-items: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & .logo {
      font-size: 4vw;
    }
    & .menu {
      display: flex;
      flex-direction: row;
      font-size: 1.5vw;
      gap: 15px;
      & .h_menu1 {
        display: flex;
      }
    }
  }
  
  .main {
    height: 80%;
    display: flex;
    flex-direction: row;
    &_imag {
      // background-image: url("../source/pexels1.jpg");
      width: 25%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      gap: 5%;
      font-size: 0.9em;
      background-color: rgb(201, 83, 83);

    }
    &text {
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: left;
      &1 {
        font-size: 10vw;
      }
      &2,
      &3,
      &4 {
        font-size: 5vw;
      }
    }
  }
  .footer {
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-right: 10px;
    justify-content: flex-end;
    background-color: silver;
    [class^="f"] {
      img {
        width: 4vw;
        height: 8vh;
        border: 2px red solid;
        border-radius: 40%;
      }
    }
  }
  
  .maintext .add0 {
    font-size: 1vw;
    & .add {
      display: flex;
      flex-direction: column;
      width: 30%;
      height: 40%;
      background-color: sandybrown;
      gap: 15px;
      & .add1 {
        display: flex;
        flex-direction: column;
        width: 30%;
        height: 40%;
  
        gap: 5%;
        & .label {
          font-size: small;
          color: black;
        }
        & .input {
          width: 80%;
          height: 20px;
          border: solid black 2px;
        }
      }
    }
  }
  
  @media screen and(max-width: 650px) {
    .header {
      justify-content: center;
      & .logo {
        font-size: 3vw;
      }
      & .menu {
        display: flex;
        flex-direction: row;
        font-size: 1.2vw;
        gap: 10px;
      }
    }
  }
  @media screen and(max-width: 430px) {
    .header {
      justify-content: center;
  
      & .logo {
        font-size: 3vw;
      }
      & .menu {
        display: flex;
        flex-direction: row;
        font-size: 1.2vw;
        gap: 10px;
      }
    }
  }
  @media screen and(max-width: 300px ) {
    .header {
      justify-content: center;
      & .logo {
        font-size: 3vw;
      }
      & .menu {
        display: flex;
        flex-direction: row;
        font-size: 1.2vw;
        gap: 10px;
      }
    }
  }

  .increasesize:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    align-items: flex-end;
}