* {
  margin: 0px 5px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: serif;
}

#size {
  position: absolute;
  top: 60%;
  left: 50%;
  font-size: 35px;
  color: red;
}

.container {
  height: 100vh;
  width: 100vw;
}

.header {
  height: 10%;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .logo {
  font-size: 4vw;
}

.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.5vw;
  gap: 15px;
}

.header .menu .h_menu1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main_imag {
  width: 25%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5%;
  font-size: 0.9em;
  background-color: #c95353;
}

.maintext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.maintext1 {
  font-size: 10vw;
}

.maintext2, .maintext3, .maintext4 {
  font-size: 5vw;
}

.footer {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-right: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: silver;
}

.footer [class^="f"] img {
  width: 4vw;
  height: 8vh;
  border: 2px red solid;
  border-radius: 40%;
}

.maintext .add0 {
  font-size: 1vw;
}

.maintext .add0 .add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  height: 40%;
  background-color: sandybrown;
  gap: 15px;
}

.maintext .add0 .add .add1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  height: 40%;
  gap: 5%;
}

.maintext .add0 .add .add1 .label {
  font-size: small;
  color: black;
}

.maintext .add0 .add .add1 .input {
  width: 80%;
  height: 20px;
  border: solid black 2px;
}

@media screen and (max-width: 650px) {
  .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .logo {
    font-size: 3vw;
  }
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 1.2vw;
    gap: 10px;
  }
}

@media screen and (max-width: 430px) {
  .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .logo {
    font-size: 3vw;
  }
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 1.2vw;
    gap: 10px;
  }
}

@media screen and (max-width: 300px) {
  .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .logo {
    font-size: 3vw;
  }
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 1.2vw;
    gap: 10px;
  }
}

.increasesize:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
/*# sourceMappingURL=style1.css.map */