* {
  margin: 0px 5px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body {
  font-family: serif;
}

#size {
  position: absolute;
  top: 60%;
  left: 50%;
  font-size: 35px;
  color: red;
}

.container {
  height: 100vh;
  width: 100vw;
}

.header {
  height: 10%;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .logo {
  font-size: 4vw;
}

.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.5vw;
  gap: 15px;
}

.main {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main_image {
  background-image: url("../source/pexels2.jpg");
  width: 50%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.maintext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-display: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.maintext1 {
  font-size: 10vw;
}

.maintext2, .maintext3, .maintext4 {
  font-size: 5vw;
}

.footer {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-right: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: silver;
}

.footer [class^="f"] img {
  width: 4vw;
  height: 4vh;
  border: 1px solid black;
  border-radius: 40%;
  -webkit-border-radius: 40%;
  -moz-border-radius: 40%;
  -ms-border-radius: 40%;
  -o-border-radius: 40%;
}

.add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  height: 40%;
  background-color: sandybrown;
}

.add0 {
  display: none;
}

@media screen and (max-width: 650px) {
  .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .logo {
    font-size: 3vw;
  }
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 1.2vw;
    gap: 10px;
  }
}
/*# sourceMappingURL=style1.css.map */