<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>search product</title>
    <link rel="stylesheet" href="../css/searchProduct.css" />
  </head>
  <body>

    <div class="container">

      <div id="searchWrapper">
        <input
          type="text"
          name="searchBar"
          id="searchBar"
          placeholder="Search for Products.."
        />
      </div>
      
    </div>
    <!-- product container -->
    <div class="items-main-container" id="productList">
        
    </div>

    <script type="module" src="../js/searchProduct.js"></script>
  </body>
</html>
